body {
  font-size: 25px;
  font-family: sans-serif;
   color:#f47041;
   max-width: 800px;
   padding:10px;
   margin-left: auto;
   margin-right: auto;
   background-color:green ;
}

section {
clear:both;
line-height: normal;

}

h1 {
  border-radius: 20px 0 20px 0;
  border: 30px solid #4286f4;
  border-color: #4286f4;
  font-size: 36px;
  font-family:Helvetica;
  color:#42f445;
  width: 400px;
   border-style:red;



}

h2 {
font-family: Courier;
color:#f44141;
}

p {
  line-height:1.8;
   padding:10px;
max-width: 1000px;
margin: 10px;
}

img {
  max-width: 100%;
}


img.right{
  float: right;
  margin-left: 10px;
}

img.left{
  float: right;
  margin-right: 10px;
}

img.center{
display: block;
margin-left: auto;
margin-right: auto;
}
ol{
line-height:30px;

}
ul{
line-height: 40px;
}




/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: yellow;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: blue;

}
